.container-content {
    margin: 10px;
}

.top-buffer {
    margin-top: 8px;
}

.navbar-right-spacing {
    margin-right: 160px;
}

.btn:focus {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    outline: none;
}

.btn.active:focus {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
    outline: none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.gantt-timeframe-holiday {
    border: solid 2px black;
    opacity: 0.6;
}

.gantt-row-milestone {
    font-weight: bold;
    vertical-align: middle;
    color: white;
}

div.live-table {
    display: table;
    width : 100%;
}

div.live-row {
    display: table-row;
}

div.live-cell {
    display: table-cell;
    padding: 5px;
    width: 50%;
}

textarea.live-task, textarea.live-row {
    width: 100%;
    height: 300px;

    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9em;
    color: #333;
}

.gantt-task-highlight {
    width: 100%;
    -webkit-box-shadow: darkred 0px 0px 3px 1px;
    -moz-box-shadow: darkred 0px 0px 3px 1px;
    -o-box-shadow: darkred 0px 0px 3px 1px;
    -ms-box-shadow: darkred 0px 0px 3px 1px;
    box-shadow: darkred 0px 0px 3px 1px;
}

.modal {
    z-index: 9000;
    background-color: rgba(0, 0, 0, 0.8);
}

.gantt-context-menu {
    width: 100%;
    height: 100%;
}
.position-fixed {
    position: fixed;
    z-index: 1000;
}

#machineTasks {
    overflow: hidden;
}
#machineTasks .modal-body {
    overflow: auto;
}
#machineTasks div.machine {
    margin: 0;
    padding: 0;
    display: block;
    overflow: auto;
}
#machineTasks .column {
    display: table-cell;
    width: 10em;
    padding: 0.6em 0;
    vertical-align: middle;
}
#machineTasks .multiple,
#machineTasks .pin {
    width: 4em;
    text-align: center;
}
#machineTasks .pin .btn {
    width: 3em;
}
#machineTasks .during {
    width: 6em;
}
#machineTasks .from,
#machineTasks .to {
    width: 9em;
}
#machineTasks .multiple-tasks {
    font-size: 1.2em;
}
#machineTasks .task,
#machineTasks .header {
    border-bottom: 1px solid #efefef;
    display: table;
}