<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>HarvardApp - Gantt chart component for AngularJS</title>
    <meta name="description" content="Gantt chart component for AngularJS">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/ng-sortable/dist/ng-sortable.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/angular-gantt-plugins.css">
    <link rel="stylesheet" href="styles/angular-gantt.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="shortcut icon" href="http://www.angular-gantt.com/img/favicon.ico">
  </head>
  <body ng-app="HarvardApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-controller="MainCtrl">
        <div class="navbar navbar-default" role="navigation" bs-navbar>
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.angular-gantt.com">HarvardApp - Gantt chart component for AngularJS</a>
            </div>
        </div>

        <div class="container-content" ng-show="false">
            <div class="container-fluid">
                <div class="row top-buffer">
                    <div class="col-md-12">
                        <i class="fa fa-cog fa-spin"></i> Loading angular-gantt demo ...
                    </div>
                </div>
            </div>
        </div>

        <div class="container-content" ng-cloak="true">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group" bs-collapse>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="" bs-collapse-toggle>Options</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse" bs-collapse-target>
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="form-inline">
                                                    <div class="form-group text-center">
                                                        <label class="control-label"><i class="fa fa-search"></i> Scale</label><br>
                                                        <button type="button" style="width: 5em; text-align: left" class="btn btn-default" ng-model="options.scale" ng-options="s for s in defaultScale" bs-select></button>
                                                    </div>

                                                    <div class="form-group input-append text-center">
                                                        <label class="control-label"><i class="fa fa-filter"></i> Filter Department</label><br>
                                                        <button type="button" style="width: 12em; text-align: left" class="btn btn-default" ng-model="departmentMenuDefault" ng-options="e for e in departmentMenu" bs-select></button>
                                                    </div>
                                                    <div class="form-group input-append text-center">
                                                        <label class="control-label"><i class="fa fa-filter"></i> Filter Sub-Department</label><br>
                                                        <button type="button" style="width: 12em; text-align: left" class="btn btn-default" ng-model="subDepartmentMenuDefault" ng-options="e for e in subDepartmentMenu" bs-select></button>
                                                    </div>

                                                    <div class="form-group text-center">
                                                        <label class="control-label"><i class="fa fa-pencil-square-o"></i> Edit</label><br>
                                                        <button type="button" class="btn btn-default" ng-model="groupTask" ng-disabled="options.readOnly === true" bs-checkbox>Group</button>
                                                        <button type="button" class="btn btn-default" ng-model="options.draw" ng-disabled="options.readOnly === true" bs-checkbox>Draw</button>
                                                        <button type="button" class="btn btn-default" ng-model="options.readOnly" bs-checkbox>Read Only</button>
                                                    </div>
                                                    <br>
                                                    <div class="form-group text-center">
                                                        <label class="control-label"><i class="fa fa-rocket"></i> Jump</label><br>
                                                        <a class="btn btn-default" ng-click="jumpToDate()">Today</a>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" ng-model="options.toDate" min-date="{{options.fromDate}}" start-date="{{options.currentDateValue.toString()}}" start-week="1" placeholder="Jump To..." data-autoclose="1" data-date-format="yyyy/MM/dd" model-date-format="yyyy/MM/dd" container="body" bs-datepicker>
                                                        </div>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label class="control-label"><i class="fa fa-th-large"></i> Pagination</label><br>
                                                        <div class="btn-group">
                                                            <a class="btn btn-default" ng-click="paginationFilter(0, -1)"><i class="fa fa-chevron-left"></i></a>
                                                            <a class="btn {{ currentPage === p && 'btn-info' || 'btn-default' }}" ng-repeat="p in pagination track by $index" ng-click="paginationFilter(p, 0)">{{ p }}</a>
                                                            <a class="btn btn-default" ng-click="paginationFilter(0, 1)"><i class="fa fa-chevron-right"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top-buffer" ng-cloak="true">
                    <div class="col-md-12">
                        <div class="panel-group" bs-collapse>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="" bs-collapse-toggle>Task Tooltips</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse" bs-collapse-target>
                                    <div class="panel-body">
                                        <div id="task-tooltips" ng-include="tooltipsTmpl"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row top-buffer" ng-cloak="true">
                    <div class="col-md-12" id="gantt-chart">
                        <div class="panel-group" bs-collapse>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a href="" bs-collapse-toggle>Gantt</a>
                                    </h4>
                                </div>
                                <div class="panel-collapse" bs-collapse-target>
                                    <div class="panel-body">
                                        <div gantt
                                               data="data"
                                               timespans="timespans"
                                               filter-task="{'name': options.filterTask}"
                                               filter-row="{'dept': options.filterRow}"
                                               filter-row-comparator="options.filterRowComparator"
                                               sort-mode="options.sortMode"
                                               view-scale="options.scale"
                                               column-width="getColumnWidth(options.width, options.scale)"
                                               auto-expand="options.autoExpand"
                                               task-out-of-range="options.taskOutOfRange"
                                               from-date = "options.fromDate"
                                               to-date = "options.toDate"
                                               show-side="options.labelsEnabled"
                                               allow-side-resizing = "options.allowSideResizing"
                                               side-width = "options.sideWidth"
                                               current-date="options.currentDate"
                                               current-date-value="options.currentDateValue"
                                               headers="options.width && options.shortHeaders || options.longHeaders"
                                               max-height="options.maxHeight && 300 || 0"
                                               time-frames="options.timeFrames"
                                               date-frames="options.dateFrames"
                                               time-frames-non-working-mode="options.timeFramesNonWorkingMode"
                                               time-frames-magnet="options.timeFramesMagnet"
                                               api="options.api"
                                               column-magnet="options.columnMagnet"
                                               options="options.options">
                                            <gantt-tree enabled="options.sideMode === 'Tree' || options.sideMode === 'TreeTable'"></gantt-tree>
                                            <gantt-table enabled="options.sideMode === 'Table' || options.sideMode === 'TreeTable'" columns="options.sideMode === 'TreeTable' ? options.treeTableColumns : options.columns" headers="options.columnsHeaders" formatters="options.columnsFormatters"></gantt-table>
                                            <gantt-groups enabled="options.groupDisplayMode === 'group' || options.groupDisplayMode === 'overview'" display="options.groupDisplayMode"></gantt-groups>
                                            <gantt-tooltips></gantt-tooltips>
                                            <gantt-bounds></gantt-bounds>
                                            <gantt-progress></gantt-progress>
                                            <gantt-sortable></gantt-sortable>
                                            <gantt-movable enabled="!options.readOnly"></gantt-movable>
                                            <gantt-draw-task
                                                enabled="options.canDraw"
                                                task-factory="options.drawTaskFactory">
                                            </gantt-draw-task>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12" id="gantt-chart-alert"></div>
                                        <div class="form-group text-center">
                                            <div class="btn-group">
                                                <a class="btn btn-warning btn-lg" ng-click="saveGanttData('recalculate')">Recalculate</a>
                                                <a class="btn btn-primary btn-lg" ng-click="saveGanttData('save')">Save</a>
                                            </div>
                                        </div>
                                    </div>

                                    <!--
                                    <div class="panel-body">
                                        <div class="live-table">
                                            <div class="live-cell" ng-show="live.row.tasks.length > 0">
                                                <h4><button type="button" style="text-align: left" class="btn btn-default" ng-model="live.task" ng-options="t as t.name for t in live.row.tasks" bs-select></button> (Task object)</h4>
                                                <textarea class="live-task" ng-model="live.taskJson"></textarea>
                                            </div>
                                            <div class="live-cell" ng-show="data.length > 0">
                                                <h4><button type="button" style="text-align: left" class="btn btn-default" ng-model="live.row" ng-options="r as r.name for r in data" bs-select></button> (Row object)</h4>
                                                <textarea class="live-row" ng-model="live.rowJson"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-content" ng-cloak="true">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <small>HarvardApp</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="bower_components/angular-native-dragdrop/draganddrop.js"></script>
    <script src="bower_components/ng-context-menu/dist/ng-context-menu.js"></script>
    <script src="bower_components/ng-sortable/dist/ng-sortable.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/gantt-core.js -->
    <script src="scripts/vendor/angular-gantt/angular-gantt.js"></script>
    <script src="scripts/vendor/angular-gantt/angular-gantt-plugins.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/templates.js -->
    <script src="scripts/views/templates.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/colorued.js"></script>
        <script src="scripts/services/harvard.js"></script>
        <script src="scripts/services/taskEditor.js"></script>
        <script src="scripts/services/matt.js"></script>
        <script src="scripts/directives/alertShowContent.directive.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
