<div class="modal inner-scroller" id="machineTasks" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width: 90%;">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind-html="title"></h4>
      </div>
      <div class="modal-body clearfix">
      	<div class="machine" ng-style="autoExpand">
	      	<div class="header">
	  			<span class="column pin">Pin</span>
          <span class="column weight">Weight</span>
	  			<span class="column data" ng-repeat="title in row.model.title track by $index">
            <span ng-bind-html="renderHtml(title)"></span>
          </span>
	  			<span class="column from">From</span>
	  			<span class="column to">To</span>
	  			<span class="column during">Duration</span>
	  		</div>
	  	</div>
      	<div class="machine" ng-style="autoExpand" ng-model="row.tasks">
      		<div class="tasks" ng-repeat="task in row.tasks track by $index" ng-if="showTaskUI2(task.model)">
      			<div class="task" ng-style="taskColoured(task.model.color, task.model.textColor)">
	      			<span class="column pin"><a class="btn {{ task.model.pin === true && 'btn-warning' || 'btn-default' }} pin" ng-model="task.model.pin" ng-disabled="readOnly(task.model)" bs-checkbox><i class="fa {{ task.model.pin === true && 'fa-check' || 'fa-close' }}"></i></a></span>
              <span class="column weight"><input type="number" class="form-control" value="{{task.model.weight}}" style="width:90%;" ng-model="task.model.weight" ng-disabled="readOnly(task.model)" ng-blur="reSortingTasks()"></span>
	      			<span class="column data" ng-repeat="data in task.model.tooltip track by $index">
                <span ng-bind-html="renderHtml(data)"></span>
              </span>
    					<span class="column from">{{ task.model.from.format("YYYY/MM/DD HH:mm") }}</span>
    					<span class="column to">{{ task.model.to.format("YYYY/MM/DD HH:mm") }}</span>
    					<span class="column during">{{ ((task.model.to - task.model.from) / 60 / 1000).toFixed(0) }}</span>
    				</div>
      		</div>
      	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>