<div class="row">
	<div class="col-md-3">
		<span ng-if="task.model.taskGroupIdsVo.length && task.model.taskGroupIdsVo.length > 1">
			<span ng-repeat="item in task.model.taskGroupIdsVo">
				<strong>Po#</strong>: {{item.split('_')[1].split('&')[3]}} <strong>Combo#</strong>: {{item.split('_')[1].split('&')[1]}}</br>
			</span>
		</span>
		<span ng-if="!task.model.taskGroupIdsVo.length || task.model.taskGroupIdsVo.length <= 1">
			<strong>Po#</strong>: {{task.model.job.poNo}} <strong>Combo</strong>: {{task.model.job.comboId}}</br>
		</span>
	</div>
	<div class="col-md-3">
		<strong>Operaction Code</strong>: {{task.model.operationCode | trimLeadingZero}}
	</div>
	<div class="col-md-3">
		<strong>Processing Type</strong>: {{task.model.processingType}}
	</div>
	<div class="col-md-3">
		<strong>Rounds-Part</strong>: {{task.model.rounds}} - {{task.model.part}}
	</div>
	<div class="col-md-3">
		<strong>Priority</strong>: {{task.model.priority}}
	</div>
	<div class="col-md-3">
		<span ng-if="task.model.finished == false">
			<strong>QTY</strong>: {{task.model.quantity}}
		</span>
		<span ng-if="task.model.finished == true">
			<strong>QTY</strong>: {{task.model.actualQuantity}}
		</span>
	</div>
	<div class="col-md-3">
		<small>
    		{{task.isMilestone() === true && (task.model.from.format('MMM DD, HH:mm')) || (task.model.from.format('MMM DD, HH:mm') + ' - ' + task.model.to.format('MMM DD, HH:mm'))}} ({{((task.model.to - task.model.from) / 1000 / 3600).toFixed(2)}} hrs)
    	</small>
	</div>
	<div class="col-md-3">
		<span class="tooltip-icon" ng-if="task.model.pin"><i class="glyphicon glyphicon-pushpin"></i>&nbsp;Pined</span>
		<span class="tooltip-icon" ng-if="task.model.inProcessing"><i class="glyphicon glyphicon-transfer"></i>&nbsp;Pending</span>
		<span class="tooltip-icon" ng-if="task.model.finished"><i class="glyphicon glyphicon-thumbs-up"></i>&nbsp;Finished</span>
		<span class="tooltip-icon" ng-if="task.model.taskGroupIdsVo.length && task.model.taskGroupIdsVo.length > 1"><i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;Grouped</span>
		<span class="tooltip-icon" ng-if="task.model.new"><i class="glyphicon glyphicon-asterisk"></i>&nbsp;Invent</span>
		<span class="tooltip-icon" ng-if="task.model.gangLinked"><i class="glyphicon glyphicon-link"></i>&nbsp;Linked</span>
	</div>
</div>